In [16]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from cleaning import * 
from modeling import *

from sklearn.metrics import mean_squared_error, mean_absolute_error 
from sklearn.metrics import accuracy_score, precision_recall_fscore_support, confusion_matrix 
from sklearn.model_selection import train_test_split 
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score
from sklearn.svm import SVR
from sklearn import preprocessing
from sklearn.preprocessing import quantile_transform
from sklearn.preprocessing import StandardScaler, MinMaxScaler



import scipy.stats as st
from scipy.stats import pearsonr


from sklearn.linear_model import LinearRegression, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.model_selection import cross_validate
import xgboost as xgb

In [2]:
df_model = pd.read_csv("./data/clean_measure.csv")
df_model.head()

,distance,consume,speed,temp_inside,temp_outside,gas_type,ac,rain,sun,km_total,consume_liter_total,price_per_travel
0,28.0,5.0,26,21.5,12,0,0,0,0,28.0,1.4000,6.900
1,12.0,4.2,30,21.5,13,0,0,0,0,40.0,0.5040,5.796
2,11.2,5.5,38,21.5,15,0,0,0,0,51.2,0.6160,7.590
3,12.9,3.9,36,21.5,14,0,0,0,0,64.1,0.5031,5.382
4,18.5,4.5,46,21.5,15,0,0,0,0,82.6,0.8325,6.210

In [3]:
df_model = df_model.drop(['temp_inside','km_total', 'consume_liter_total', 'price_per_travel'], axis=1)

In [4]:
df_model

     distance  consume  speed  temp_outside  gas_type  ac  rain  sun
0        28.0      5.0     26            12         0   0     0    0
1        12.0      4.2     30            13         0   0     0    0
2        11.2      5.5     38            15         0   0     0    0
3        12.9      3.9     36            14         0   0     0    0
4        18.5      4.5     46            15         0   0     0    0
..        ...      ...    ...           ...       ...  ..   ...  ...
383      16.0      3.7     39            18         1   0     0    0
384      16.1      4.3     38            31         1   1     0    0
385      16.0      3.8     45            19         1   0     0    0
386      15.4      4.6     42            31         1   1     0    0
387      14.7      5.0     25            30         1   1     0    0

[388 rows x 8 columns]

Based on what has been seen in the previous notebooks, we are going to keep the variables: temp_outside, speed, distance and consume:

In [5]:
E10 = df_model[df_model.gas_type == 0]
E10.drop(['gas_type'], axis=1, inplace=True)

SP98 = df_model[df_model.gas_type == 1]
SP98.drop(['gas_type'], axis=1, inplace=True)

In [6]:
cv = 8

In [8]:
X_train_E10, X_test_E10, y_train_E10, y_test_E10 = tr_test_split(E10, 160)

In [9]:
X_train_SP98, X_test_SP98, y_train_SP98, y_test_SP98 = tr_test_split(SP98, 228)

In [11]:
training(X_train_E10, y_train_E10, cv).sort_values('RMSE')

                       model      RMSE  standard_dev
2    Random Forest Regressor  0.720734     -0.326624
4  Gradient Boost Regression  0.750178     -0.282217
5         XGboost Regression  0.771424     -0.302605
3           Ridge Regression  0.836772     -0.267703
0          Linear Regression  0.837225     -0.267374
1             Decission Tree  0.986125     -0.379528

In [12]:
training(X_train_SP98,y_train_SP98, cv).sort_values('RMSE')

                       model      RMSE  standard_dev
4  Gradient Boost Regression  0.740921     -0.285754
2    Random Forest Regressor  0.758057     -0.235963
5         XGboost Regression  0.798934     -0.260151
1             Decission Tree  0.894721     -0.301350
3           Ridge Regression  0.989805     -0.331454
0          Linear Regression  0.990301     -0.331683

As we see the best model of regression is Gradient Boost Regression.

In [13]:
E10.to_csv('./output/E10.csv', index=False)
SP98.to_csv('./output/SP98.csv', index=False)